body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(178, 171, 233, 0.767);
}

a {
    font-style: italic;
}

.title{
    color: rgb(0, 18, 216);
    text-align: center;
}

.subtitle{
    text-decoration: underline;
}

.recipe-img{
    aspect-ratio: 16/10;
    width: 600px;
    margin: auto;
}
